.kek1 {
  width: 100%;
  height: 1000px;
  background-color: black !important;
  display: flex !important;
  flex-wrap: wrap !important;
  margin: 0 auto;
  padding: 20px;
  justify-content: space-around;
}
.kek {
  width: 25%;
  height: 250px;
  background-color: beige !important;
  margin: 15px;
  padding: 10px;
}
